body {
    line-height: 1 !important;
    font-size: 13px !important;
}


/* Circular menus */

.circular-menu {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    position: relative;
}

.circle {
    width: 100px;
    height: 100px;
    opacity: 0;

    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);

    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}

.open.circle {
    opacity: 1;

    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    z-index:999;
}

.circle a {
    text-decoration: none;
    color: white;
    display: block;
    height: 25px;
    width: 25px;
    line-height: 25px;
    margin-left: -25px;
    margin-top: -25px;
    position: absolute;
    text-align: center;
    border-radius: 50%;
    background-color: black;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 1px lightgray;
}

.circle a:hover {
    color: #eef;
}

.menu-button {
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    text-decoration: none;
    text-align: center;
    border-radius: 50%;
    display: block;
    padding: 13px;
}

/* Command bar */

.mold-command-bar {
    height: 0;
    transition: 0.3s;
}

.w3-dropdown-content {
    z-index:999 !important;
}

/* Dashboard */

.grid-stack {
    /* background: lightgoldenrodyellow; */
}

.grid-stack-item-content {
    background-color: white;
    border: 1px solid lightgray;
}

/* Command bar */

.mold-command-bar .completions li.active {
    background-color: lightblue;
}

.mold-command-bar .completions li .mold-icon {
    margin-right: 5px;
}

/* Drag and drop */

.drop-allowed {
    background-color: lightgreen;
}

.drag-ghost {
    background-color: white;
    color: black;
    padding: 20px;
    border-radius:5px;
    border: 1px solid gray;
    max-width: 300px;
}

/* Tree */

ul.tree {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.tree span.caret {
    cursor: pointer;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
}

ul.tree .caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
}

ul.tree .caret-down::before {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */
    transform: rotate(90deg);
}

ul.tree .nested {
    display: none;
    list-style: none;
}

ul.tree .active {
    display: block;
    padding-left:20px;
}

ul.tree li .mold-icon {
    margin-right: 5px;
}

ul.tree li {
    padding: 3px;
}

/* Halos */

.halos {
    border: 1px dashed lightgray !important;
}

.selected {
    background-color: #DDFBDD;
}

.halos-window.selection-mode {
    background-color: #DDFBDD;
}

/*
.halos-window:hover > .halo-btn {
    display: block;
}

.halos-window:hover > .halos-buttons {
    display:block;
}
*/

.halos-window.active > .halo-btn {
    display: block;
}

.halos-window.active > .halos-buttons {
    display: block;
}

.halos-buttons {
    display:none;
    background-color: white;
    z-index: 1000;
}

.halos-buttons.bottom-right {
    position: absolute;
    right: 0;
    bottom: 2px;
}

.halos-buttons.top-right {
    position: absolute;
    right: 0;
    top: 0;
}

.halos-buttons > .halo-btn {
    display:block;
    background-color:white;
}

.halo-btn.medium {
    height: 22px;
    width: 22px;
    line-height: 20px;
    font-size: 10px;
}

.halos-window.halos > .halo-btn.small {
    display:none;
}

.halos-window.halos:hover > .halo-btn.small {
    display:block;
}

.halo-btn.small {
    height: 18px;
    width: 18px;
    line-height: 18px;
    font-size: 10px;
    float:right;
    border-radius:0;
    color: darkblue;
    border:0;
    left: 0 !important;
    box-shadow:none;
    margin-right: 1px;
    position:relative !important;
    background-color: white;
}

.halo-btn {
    text-decoration: none;
    color: white;
    display: none;
    position: absolute;
    text-align: center;
    border-radius: 50%;
    background-color: black;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 1px lightgray;
    cursor:pointer;
}

.halo-btn.right-bottom {
    position: absolute;
    right:0;
    bottom:0;
}

.halo-btn.right-center {
    position: absolute;
    right:0;
    top:50%;
}

.halo-btn.right-center-top {
    position: absolute;
    right:0;
    top:25%;
}

.halo-btn.right-center-bottom {
    position: absolute;
    right:0;
    top:75%;
}

.halo-btn.right-top {
    position: absolute;
    right:0;
    top: 0;
}

.halo-btn.center-top {
    position: absolute;
    left:50%;
    top: 0;
}

.halo-btn.center-bottom {
    position: absolute;
    left:50%;
    bottom: 0;
}

.halo-btn.left-top {
    position: absolute;
    left:0;
    top: 0;
}

.halo-btn.left-center {
    position: absolute;
    left:0;
    top: 50%;
}

.halo-btn.left-center-top {
    position: absolute;
    left:0;
    top: 25%;
}

.halo-btn.left-center-bottom {
    position: absolute;
    left:0;
    top: 75%;
}

.halo-btn.left-bottom {
    position: absolute;
    left:0;
    bottom: 0;
}

/* Command bar */

.mold-command-bar {
    z-index: 9999; /* We need command bar to appear always on top */
    height: 28px; /* Needed height so that the header with prompt input is visible */
    transition: 0.3s; /* Transition for when command bar opens/closes */
    position: fixed; /* Attached to the bottom of screen */
    bottom: 0;
}

.mold-command-bar .completions {
    height: 180px;
    overflow:scroll;
}

.mold-command-bar .message-panel {
    height: 180px;
    overflow-y: scroll;
}

.mold-command-bar .selections {
    height: 180px;
    overflow-y: scroll;
}

.workspace-menu-bar {
    width: 1000% !important; /* Hack: remove */
    height: 35px;
}

/* Side panel */
.mold-side-panel {
    z-index: 9999;
    transition: 0.3s;
    position: fixed;
    right: 0;
    height: 100%;
    background-color: white;
    overflow: visible !important; /* This is needed so that the toggle button that is on negative left position is visible */
}

.mold-side-panel .side-panel-toggle {
    position: absolute;
    width: 25px;
    height: 25px;
    left: -25px;
    top: 0;
    background-color: lightgray;
    z-index: 999999 !important;
}

.app-main {

}

.side-bar-workspace {
    display:grid;
    grid-template-columns: 20vw 80vw;
}

.app-body {
    min-height: 100vh;
    overflow-y: scroll;
}

.details-panel {
    width: 25vw;
    overflow-y:scroll;
    min-height: 100vh;
    background-color: white;
    -webkit-box-shadow: -7px 0px 9px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: -7px 0px 9px -3px rgba(0,0,0,0.75);
    box-shadow: -7px 0px 9px -3px rgba(0,0,0,0.75);
    /*float:right;*/
    position:absolute;
    right:0;
}

.thumbnails > .thumbnail {
    margin: 4px;
    padding: 4px;
    width: 250px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background-color: white;
}

.thumbnails > .thumbnail.wide {
    width: 295px;
}

.icons > .icon-view {
    margin: 4px;
    padding: 4px;
    width: 50px;
    height: 50px;
    display: inline-block;
    overflow: hidden;
    background-color: white;
}

.w3-ul.no-padding-left li {
    padding-left:0;
}

.mold-navigation-bar {
    background-color: white;
    overflow-y: scroll;
    height: 100%;
}

.year-calendar > div {
    margin: 4px;
    padding: 4px;
    width: 250px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
}

table.calendar {
    table-layout: fixed;
}

table.calendar td {
    border: 1px solid gray;
    text-align: center;
}

.presented-object:hover {
    background-color: #E8EEF5;
}

/* split.js */

.split {
    display: flex;
    flex-direction: row;
}

.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
}

/* REPL */

.repl.output-area {
    height: 100%;
}

.repl.command-input-area {
    height: 200px;
}

/* Collapsible */
/* https://www.w3schools.com/howto/howto_js_collapsible.asp */

.collapsible .toggler {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 12px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.collapsible .toggler.active, .collapsible .toggler:hover {
    background-color: #ccc;
}

.collapsible .toggler:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}

.collapsible .toggler.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* Breadcrumbs */

/* https://www.w3schools.com/HOWTO/howto_css_breadcrumbs.asp */

ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}
