<!doctype HTML>
<HTML>
  <HEAD>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/js/jquery.min.js" type="text/javascript"></script>
    <script src="/js/boot.js" type="text/javascript"></script>
    <noscript><%= (@ meta) %></noscript>
    <style>
      .loader {
          width: 48px;
          height: 48px;
          background: #FFF;
          border-radius: 50%;
          display: inline-block;
          position: relative;
          box-sizing: border-box;
          animation: rotation 1s linear infinite;
      }
      .loader::after {
          content: '';
          box-sizing: border-box;
          position: absolute;
          left: 6px;
          top: 10px;
          width: 12px;
          height: 12px;
          color: #FF3D00;
          background: currentColor;
          border-radius: 50%;
          box-shadow: 25px 2px, 10px 22px;
      }

      @keyframes rotation {
          0% {
              transform: rotate(0deg);
          }
          100% {
              transform: rotate(360deg);
          }
      }

    </style>
  </HEAD>
  <BODY>
    <div style="text-align:center;padding-top: 100px;">
      <h1>Mold Desktop</h1>
      <img src='/img/icons8-desktop-64.png'>
      <!-- <p>Loading the desktop</p> -->
      <p><span class="loader"></span></p>
    </div>
    <noscript><%= (@ body) %></noscript>
  </BODY>
  <noscript>Your browser must support JavaScript and be HTML 5 compilant to see this site.</noscript>
</HTML>
